$toolbarHeight: 56px;
$componentPanelWidth: 320px;

.skeleton {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.workbench {
  position: absolute;
  top: $toolbarHeight;
  bottom: 0;
  width: 100%;
}

@mixin auto-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

.ds-component-panel {
  @include auto-height;
  left: 0;
  width: $componentPanelWidth;
}
.ds-stage-container {
  @include auto-height;
  left: $componentPanelWidth + 1;
  right: $componentPanelWidth + 1;
  overflow: hidden;
  background: repeating-linear-gradient(to right, #eee, #eee 8.333%, #fff 8.333%, #fff 16.666%)
}

.ds-property-panel {
  @include auto-height;
  right: 0;
  width: $componentPanelWidth;
}
