$toolbarHeight: 56px;
$componentPanelWidth: 320px;

.workbench {
  position: absolute;
  top: $toolbarHeight;
  bottom: 0;
  width: 100%;
}
.preview-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .75);
  z-index: 9999;
}
.ds-preview {
  width: 1200px;
  margin: auto;
  background: white;
  border: 1px solid transparent;
}

@mixin auto-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

.ds-component-panel {
  @include auto-height;
  left: 0;
  width: $componentPanelWidth;
}
.ds-stage-container {
  @include auto-height;
  left: $componentPanelWidth + 1;
  right: $componentPanelWidth + 1;
  bottom: 0;
}

.ds-property-panel {
  @include auto-height;
  right: 0;
  width: $componentPanelWidth;
}

.hide {
  visibility: hidden;
}
