.icon-heading {
  background: url('./imgs/component_heading.png');
}
.icon-grid {
  background: url('./imgs/component_grid.png');
}

.ds-component-panel {
  .panel-body {
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      float: left;
      display: block;
      width: 94px;
      height: 76px;
      text-align: center;
      font-size: 14px;
      color: #6b6a6a;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    ::after {
      content: '';
      clear: both;
    }
  }
  .component-item .icon-heading {
    width: 75px;
    height: 50px;
    margin: 0 auto;
  }
  .component-item .icon-grid {
    width: 75px;
    height: 50px;
    margin: 0 auto;
  }
}
