body, button {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

* {
  box-sizing: border-box;
}

.layout {
  width: 1224px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
}

$grid-columns: 12;
$gutter: 12px;
@for $i from 0 through $grid-columns {
  .col-#{$i} {
    width: percentage(($i / $grid-columns));
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: $gutter;
    padding-left: $gutter;
  }
  .col-offset-#{$i} {
    margin-left: percentage(($i / $grid-columns));
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 7.5px 0 7.5px 10px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid;
  border-color: #DDD;
  color:#333;
  outline: none;
  transition: border-color ease-in-out .15s;

  &.input-lg {
    height: 36px;
    font-size: 14px;
    line-height: 21px;
  }

  &:hover, &:focus {
    border-color: #43BFE3;
  }

}

textarea.form-control {
  height: auto;
}
@mixin clearfix {
  &:after {
    display: table;
    content: ' ';
    clear: both;
  }
}

.form-horizontal {
  .form-group {
    margin-left: -$gutter;
    margin-right: -$gutter;

    margin-bottom: 15px;

    @include clearfix;

    label {
      text-align: right;
      font-weight: 700;
      padding-top: 4px;
      color: #333;
    }
  }
}

fieldset {
  border: none;
  background-color: #F7F7F7;
  margin: 0 -12px;
  padding: 20px 12px;

  legend {
    color: #666;
  }
}


.clearfix {
  @include clearfix;
}

.hide {
  display: none;
}

.pull-right {
  float: right;
}

.text-info {
  color: #00A2CA;
}
.text-success {
  color: #7ED321;
}
.text-danger {
  color: #FF7300;
}
